@model UserViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h2>ID: @Model.ID</h2>
<h2>First Name: @Model.FirstName</h2>
<h2>Last Name: @Model.LastName</h2>
<h2>Email: @Model.EmailAddress</h2>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
